<div class="container">
  <h3 class="headline">New Comment</h3>
  <%= form_with(model: @comment, url: board_task_comments_path(board_id: @board.id, task_id: @task.id), method: 'post', local: true) do |f| %>
    <div>
      <%= f.text_area :content, class:'text' %>
    </div>
    <%= f.submit 'Submit', class: 'btn-primary' %>
  <% end %>
</div>