@import './variables'; 

$avatar-size: 30px;

.board{
    
    background-color: white;
    margin-bottom: 30px;
    padding:10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    &_avatar{
        margin-top: 15px;
        width: $avatar-size;
        height: $avatar-size;
    }

    &_name{
    font-weight: bold;
    font-size: 20px;
    }

    &.add_button{
        background-color:$base-bg-color;
        border:1.5px dotted #BBBBBB;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        text-align: center;
        box-shadow: none;
    }

}