@import './variables';

.dropbtn {
    border: none;
  }
  
  .dropdown {
    display: inline-block;
    position: absolute;
    top:5px;
    right:15px;
  }
  
  .dropdown-content {
    font-weight: normal;
    display: none;
    right: 0;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    &.mini{
        min-width: 100px;
    }
  }
  
  .dropdown-content a {
    padding: 1px 16px;
    text-decoration: none;
    display: block;
    color: $text-base-color;
    margin-top: 5px;
    margin-bottom: 5px;

  }
  
  .dropdown-content a:hover {
    background-color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .headline{
    margin-bottom: 20px;
    color:black;
    opacity: 0.7;
  }