@import './variables';

$avatar-size: 50px;

.header{
    border-bottom:1px solid #CCCCCC;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
    background-color: $primary-color;

    &_title{
        display: flex;

        h2{
            color: white;
            margin-left: 10px;
            line-height: 36px;
            padding-top: 2.5px;
        }

        p{
            color: white;
            font-size: 1.5em;
        }
    }

    &_avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 100%;
        margin-top: 13px;
    }

}