<div class="container">
    <div class="profile_container">
        <div class="profile_avatar">
            <% if @user.profile&.avatar&.attached? %>
                <%= image_tag @user.profile.avatar %>
            <% else %>
                <%= image_tag 'default-avatar.png' %>
            <% end %>
        </div>
        <div class="profile_nickname">
            <%= @user.display_name %>
        </div>
        <div class="profile_introduction">
            <%= @user.profile.introduction %>
        </div>
    </div>
</div>